<header class="site-header">
    <a class="brand" href="">ProxiPro</a>

    <input type="checkbox" id="menu-toggle" class="menu-toggle" />
    <label for="menu-toggle" class="menu-button" title="Menu">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <nav class="site-nav">
        <NavLink href="" Match="NavLinkMatch.All">Accueil</NavLink>
        <NavLink href="concept">Concept</NavLink>
        <NavLink href="register">Inscription</NavLink>
        <NavLink href="dashboard">Espace entreprise</NavLink>
    </nav>
</header>
