<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Admin</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon nav-icon-dashboard" aria-hidden="true"></span> Tableau de bord
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="company-applications">
                <span class="nav-icon nav-icon-applications" aria-hidden="true"></span> Demandes entreprises
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="companies">
                <span class="nav-icon nav-icon-companies" aria-hidden="true"></span> Entreprises
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="providers">
                <span class="nav-icon nav-icon-providers" aria-hidden="true"></span> Prestataires
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="missions">
                <span class="nav-icon nav-icon-missions" aria-hidden="true"></span> Missions
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="payments">
                <span class="nav-icon nav-icon-payments" aria-hidden="true"></span> Encaissements
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="localization">
                <span class="nav-icon nav-icon-translations" aria-hidden="true"></span> Traductions
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cms">
                <span class="nav-icon nav-icon-cms" aria-hidden="true"></span> CMS
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="service-proposals">
                <span class="nav-icon nav-icon-services" aria-hidden="true"></span> Services proposes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="access-control">
                <span class="nav-icon nav-icon-access" aria-hidden="true"></span> Acces & roles
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="notifications">
                <span class="nav-icon nav-icon-notifications" aria-hidden="true"></span> Notifications
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="audit-logs">
                <span class="nav-icon nav-icon-logs" aria-hidden="true"></span> Logs
            </NavLink>
        </div>
    </nav>
</div>
